* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: linear-gradient(#ffcd60, #ff7809);
  }

  .header {
    font-family: 'Brush Script MT';
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: linear-gradient(#7728e6, #99ccff);
  }

  .title {
    font-family: 'Lucida Console';
    color: black;
  }

  .content {
    float: left;
    width: 100%;
  }

  .imgprev {
    width: 100%;
    max-height:350px;
    object-fit: cover;
  }

  .image {
    width: 100%;
    max-height: 650px;
    max-width: 1500px;
  }

  .self {
    border-radius: 75%;
    max-height: 350px;
    max-width: 350px;
    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
  }

  .card {
    background-color: #99ccff;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* remove bar between rows*/
  .row:before {
    content: "";
    display: table;
    clear: both;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: linear-gradient(#99ccff, #7728e6);
    margin-top: 20px;
  }

  .navi {
    background-color: #6f1de0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 97%;
  }

  .navi a {
    float: left;
    display: block;
    color: #ecebeb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navi a:hover {
    background-color: #89b1da;
    color: black;
  }